@charset "UTF-8";

div#container{
    font-family: "Noto Sans KR";
}

div#container > div {
    width: 90%;
    margin: 2% auto;
}
div#container > footer{
    padding : 0 3%;
}

label.curpointer:hover{
    cursor: pointer;
}

div.curpointer{
	transition: 0.5s;
}

div.curpointer:hover{
	transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
}

#mainView{

    position: relative;

}

h1#testtype{

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 2rem;

}


